.container {
  background-color: red;
  height: 100px;

  display: flex;
  justify-content: space-evenly;
}

/* .container div {
  margin-top: 
} */

.container #titulo img {
  max-width:200px;
  max-height: 75px;
  width: auto;
  height: auto;
}

/*Começo Banner*/

.banner {
  background-color: blue;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}

/*Fim Banner*/

/*Começo do mid*/

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DR {
  background-color: yellow;
  position: absolute;
  height: 370px;
  width: 600px;
  margin-top: 150px;
}


/*Fim do mid*/

/*Começo do fin*/

.fin {
  display: flex;
  justify-content: center;
}

#ptitulo::before,
#ptitulo::after {
  content: "";
  height: 1px;
  border: 1px solid #000;
  border-width: 100%;

}

#ptitulo {
  margin-top: 200px;
  font-size: large;
}

.row1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 20px;
}

.row2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  margin-top: 100px;
  margin-bottom: 25px;
}

#pratos {
  background-color: blueviolet;
  width: 300px;
  height: 300px;
}


/*Fim do fin*/

.pe {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 295px;

}

.pez {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;

}

.test {
  margin-left: 10px;
  margin-right: 10px;
}

.test,
#abert {
  white-space: nowrap;
  text-align: center;
}

#contato {
  margin-top: 50px;
}

#abert {
  margin-top: 25px;
}

#dias {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 200px;
}

#git {
  margin-top: 50px;
}

#creds {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}