@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.body {
  color: #0a0908;
}

.container {
  height: 75px;

  display: flex;
  justify-content: space-evenly;
}

#cor hr {
  background-color: red;
  border-color: #0a0908;
}

.container #titulo img {
  max-width: 200px;
  max-height: 75px;
  width: auto;
  height: auto;

  margin-left: -110px;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: larger;
  width: 150px;
} 


.container .login {
  align-items: center;
  align-self: center;
  background-color: #fff;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.login:hover:after {
  transform: translate(0, 0);
}

.login:active {
  background-color: rgba(255, 255, 255, 0.829);
  outline: 0;
}


/*Começo Banner*/

.banner {
  background-image: url(/img/banner/madeira-fundo.jpeg);
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

/*Fim Banner*/

/*Começo do mid*/

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drao {
  margin-top: 250px;
  position: absolute;
  height: 500px;
  width: 700px;
  
}

.DR {
  background-color: #fff;
  position: absolute;
  height: 300px;
  width: 600px;
  box-shadow: 0px 20px 22px 0px #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.DR .opcoes {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.opcoes-prime {
  display: flex;
}

.opcoes2 {
   background-color: transparent;  /* isso vou deixar transparente */
}

.del {
  cursor: pointer;
  font-size: large;
  width: 300px;
  height: 125px;
  background-color: #fff;
  color: #9A2727;
  border-right-width: 1px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#retirada {
  display: none;
}

.ret {
  cursor: pointer;
  font-size: large;
  margin-top: 25px;
  width: 300px;
  height: 100px;
  background-color: #D5D5D5;
  color: #585858;
  border-left-width: 1px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.onde {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.heading-hr:after, .heading-hr:before {
  margin-top: 12px;
  content: "";
  height: 1px;
  width: 850px;
  border: 1px solid #e9ebee;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  top: -2px;
}

.onde {
  font-size: larger;
}

.cep {
  margin-top: 10px;
  text-align: center;
}

.inputs {
  margin-top: 20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}

.inputs #cep {
  width: 500px;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.inputs #inf {
  width: 500px;
  height: 45px;
  border-radius: 10px;
}

.botao-buscar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.botao-buscar button {
  width: 516px;
  height: 51px;
  color: #fff;
  background-color: #9A2727;
  cursor: pointer;
  font-size: larger;
  border-radius: 10px;
}

.botao-buscar button:hover {
  color: rgba(255, 255, 255, 0.555);
}

.botao-buscar button:active {
  transform: translateY(2px);
}

/*Fim do mid*/

/*Pedidos*/

.pdds {
  display: flex;
  justify-content: center;
}

#ptitulo {
  display: flex;
  margin-top: 200px;
  font-size: xx-large;
}

.pdds .heading-hr:after, .pdds .heading-hr:before {
  margin-top: 21px;
}

.row1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 20px;
}

.row2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-top: 25px;
  margin-bottom: 25px;
}

#pratos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.11);
  width: 250px;
  height: 270px;
}

#pratos img {
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

.descricoes {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.descricoes span {
  margin-top: 10px;
}

.descricoes p {
  margin-top: 5px;
  color: #9A2727;
  font-weight: bold;
}


/*Fim dos Pedidos*/

/*Começo da parte vegetariana*/

.backgreen {
  background-image: url(/img/banner/Fundo\ plantastest.png);
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: row;
  
}

.vegetarianas {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  height: 475px;
  font-weight: bolder;
}

.vegetarianas h1 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  background-color: rgba(28, 214, 28, 0.774);
  width: 550px;
  height: 65px;
  font-size: 3em;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 15px;
}

.pratos-vegetarianos {
  display: flex;
}

#pratos2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.11);
  width: 250px;
  height: 270px;
  
}

#pratos2 img {
  border-radius: 50px;
  width: 200px;
  height: 200px;
}

.descricoes2 {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  margin-right: 60px;
}

.descricoes2 span {
  margin-top: 10px;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
}

.descricoes2 p {
  font-family: 'Fredoka One', cursive;
  margin-top: 5px;
  background-color: rgba(28, 214, 28, 0.774);
  font-weight: 100;
  width: 70px;
  border-radius: 20px;
  text-align: center;
}


/*Começo do footer*/

.pe {
  background-color: #0a0908;
  color: #fff;
  width: 100%;
  height: 295px;

}

.pez {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;

}

.test {
  margin-left: 50px;
  margin-right: 50px;
}

.test,
#abert {
  white-space: nowrap;
  text-align: center;
}

#contato {
  margin-top: 50px;
}

#abert {
  margin-top: 25px;
}

#dias {
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 200px;
}

#git {
  margin-top: 50px;
}

#creds {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}